<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% extends "listas/layout.html" %}

    {% block body %}
        <h1>Welcome, {{ request.user.first_name }}</h1>
            <ul>
                <li>Username: {{ request.user.username }}</li>
                <li>Email: {{ request.user.email }}</li>
            </ul>
    
            <a href="{% url 'logout' %}">Log Out</a>
            
        <h1>Lista de compras</h1>
        <ul>
            {% for lista in listas %}
                <li>{{ lista.item }} - {{ lista.quantidade }}</li>
            {% endfor %}
        </ul>
        
    {% endblock %}
</body>
</html>