<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

    <h1>Insira um item</h1>

    <form method="POST" style="width: 300px; display: flex; flex-direction: column; ">
        {% csrf_token %}
        {{ form }}
        <button type="submit" style="width: 100px; margin-top: 20px;">Confirmar</button>
    </form>

    {% if item %} 
        <button style="width: 100px; margin-top: 20px;"><a href="{% url 'deletar_item' item.id %}" style="text-decoration: none;color: black;">Delete</a></button>
    {% endif %} 
</body>
</html>