<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
	<h1>Sua lista:</h1>
	<ul>
		{% for item in itens %}
			<a href="{% url 'update_item' item.id %}" style="text-decoration: none; font-size: 18px;">
				<li> {{ item.nome }} - {{ item.quantidade }}</li>
			</a>
		{% endfor %}
	</ul>
		
	<button><a href="{% url 'criar_item' %}">Insira um item</a></button>
</body>
</html>